<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/icomoon/style.css">
    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/artical.css">
    <!--[if lt IE 10]>
    <script src="//as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="blog">
        <header id="header" class="header-up">
            <a href="/"><i id="home" class="icon-home2"></i></a>
            <div class="header-title">
                <a class="header-title-link" href="/"><%= title %></a>
            </div>
            <a class="header-right-picture " href="#about">
                <img class="header-picture" src="http://s.gravatar.com/avatar/e8f553206999a2adf4b0855497eca463?s=80" alt="Author's picture">
            </a>
        </header>
        <div id="main">
            <article class="post">
                <div class="post-header main-content-wrap">
                    <h1 class="post-title"><%= metaData.Title %></h1>
                    <div class="post-meta">
                        <time itemprop="datePublished" datetime="2013-01-03T00:30:04+01:00">
                            Jan 03, 2013
                        </time>
                        <span>in </span>
                        <a class="category-link" href="/hexo-theme-tranquilpeak/categories/tranquilpeak/">tranquilpeak</a>, <a class="category-link" href="/hexo-theme-tranquilpeak/categories/tranquilpeak/features/">features</a>
                    </div>
                </div>
                <div class="post-content">
                    <div class="main-content-wrap markdown-body">
                            <%- content %>
                    </div>
                </div>
                <div id="post-footer" class="post-footer main-content-wrap">
                    <div class="post-footer-tags">
                        <span class="tagin">TAGGED IN</span>
                        <br>
                          <% metaData.Tags.forEach(function(tag){%>
                              <a class="post-tag" href="#"><%=tag%></a>
                          <% }) %>
                        
                    </div>
                    <div class="post-actions-wrap">
                        <nav>
                            <ul class="post-actions post-action-nav">
                                <li class="post-action">
                                    <a class="post-action-btn btn btn--default" href="/hexo-theme-tranquilpeak/2013/02/18/Image-gallery-showcase/" data-tooltip="Image gallery showcase">
                                        <
                                    </a>
                                </li>
                                <li class="post-action">
                                    <a class="post-action-btn btn btn--default" href="/hexo-theme-tranquilpeak/2012/04/13/link-post/" data-tooltip="Hexo websites">
                                        >
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <ul class="post-actions post-action-share">
                            <li class="post-action">
                                <a class="post-action-btn btn btn--default" target="new" href="https://plus.google.com/share?url=http://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/hexo-theme-tranquilpeak/2013/01/03/日本語テスト/">
                                    <i class="icon-google-plus"></i>
                                </a>
                            </li>
                            <li class="post-action">
                                <a class="post-action-btn btn btn--default" target="new" href="https://www.facebook.com/sharer/sharer.php?u=http://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/hexo-theme-tranquilpeak/2013/01/03/日本語テスト/">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li class="post-action">
                                <a class="post-action-btn btn btn--default" target="new" href="https://twitter.com/intent/tweet?text=http://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/hexo-theme-tranquilpeak/2013/01/03/日本語テスト/">
                                    <i class="icon-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <footer id="footer" class="main-content-wrap">
                <span class="copyrights">
        Copyrights © 2017 Demon Ray. All Rights Reserved.
    </span>
            </footer>
        </div>
    </div>
</body>

</html>
