<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/icomoon/style.css">
    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/artical.css">
    <!--[if lt IE 10]>
    <script src="//as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="blog">
    <header id="header" class="header-up">
        <a href="/"><i id="home" class="icon-home2"></i></a>
        <div class="header-title">
            <a class="header-title-link" href="/"><%= title %></a>
        </div>
        <a class="header-right-picture " href="#about">
            <img class="header-picture" src="http://s.gravatar.com/avatar/e8f553206999a2adf4b0855497eca463?s=80"
                 alt="Author's picture">
        </a>
    </header>
    <div id="main">
        <article class="post">
            <div class="post-header main-content-wrap">
                <h1 class="post-title"><%= metaData.Title %></h1>
                <div class="post-meta">
                    <time itemprop="datePublished">
                        <%= metaData.Date %>
                    </time>
                </div>
            </div>
            <div class="post-content">
                <div class="main-content-wrap markdown-body">
                    <%- content %>
                </div>
            </div>
            <div id="post-footer" class="post-footer main-content-wrap">
                <div class="post-footer-tags">
                    <span class="tagin">TAGGED IN</span>
                    <br>
                    <% metaData.Tags.forEach(function(tag){ %>
                    <a class="post-tag"><%= tag %></a>
                    <% }) %>
                </div>
            </div>
            <div class="sharewrap">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_cqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_fb"></a>
                    <a class="jiathis_button_twitter"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                       target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
        </article>
        <footer id="footer" class="main-content-wrap">
                <span class="copyrights">
        Copyrights © 2017 Demon Ray. All Rights Reserved.
    </span>
        </footer>
    </div>
</div>
</body>

</html>
